extends base

- load as_vertical_form from bootstrap
- load widget_tweaks
- load brabeion_tags
- load comments
- load humanize


block header
  - with headerMessage='Document Discussion'
    include includes/header

block content
  .container
    - if messages
      - for message in messages
        - if 'safe' in message.tags
          .row
            .col-xs-10.col-xs-offset-1
              div(class='{{ message.tags }}').alert
                {{ message|safe }}


  .container-fluid.m-t-md
    .row
      .col-xs-4.col-xs-offset-1
        h2 Most Discussed Documents
        .list-group
          - for doc in documents
            a(href='{% url "talk:home" doc.document_id %}').list-group-item
              h4.list-group-item-heading {{doc.title}}
              hr
              p.list-group-item-text {{doc.comment_count}} Comments


      .col-xs-3
        h2 Recent Annotations
        table.table.table-condensed.table-striped
          thead
            tr
              th
              th Annotation
          tbody
            - for ann in annotations
              tr
                th(scope="row") #{ann.1|intcomma}
                td
                  a(href='/talk/annotation/?q={{ann.0}}')
                    | #{ann.0}


      .col-xs-3
        h2 Recent Comments
        .list-group
          - for comment in comments
            .list-group-item
              h4.list-group-item-heading
                a(href='{% url "userprofile:public-profile" comment.user.username %}')
                  | {{ comment.user.username }}
              p.list-group-item-text {{ comment.comment }}

              .row
                .col-xs-6
                  p.text-left.text-muted
                    a(href='{% url "talk:home" comment.pmid %}')
                      small {{ comment.pmid }}

                .col-xs-6
                  p.text-right.text-muted
                    small {{ comment.submit_date }}
