extends control/base

- load widget_tweaks
- load brabeion_tags
- load humanize

block content

  .container
    .row
      .col-md-10.col-md-offset-1.m-t-md
        h2.text-center
          a(href='{% url "admin:common_group_change" group.pk %}')
            #{group.name}

        p.text-center
          small #{group.description}

    .row
      .col-md-7.col-md-offset-1

        table.table.table-hover.table-striped
          thead
            tr
              th Pubmed ID
              th Task Name
              th Task ID
              th Points
              th Added to Group
              th Valid Pubtator
              th Reset Pubtator

          tbody
            - for doc_q_rel in document_quest_relationships
                tr
                  td
                    a(href='{% url "control:document" pk=doc_q_rel.document.pk %}')
                      h3 #{doc_q_rel.document.document_id}

                  td
                    h4.text-center #{doc_q_rel.task.name}

                  td
                    a(href='{% url "admin:task_task_change" doc_q_rel.task.pk %}')
                      p #{doc_q_rel.task.pk}

                  td
                    p #{doc_q_rel.points}

                  td
                    p #{doc_q_rel.updated|naturaltime}

                  td
                    - if doc_q_rel.document.valid_pubtator
                      i.fa.fa-3x.fa-check.text-success
                    - else
                      i.fa.fa-3x.fa-exclamation-triangle.text-danger

                  td
                    form(action='{% url "control:document_reset_pubtator" pk=doc_q_rel.document.pk %}', method='post')
                      - csrf_token
                      button(type='submit').btn.btn-warning.btn-block
                        | Reset


      .col-md-4

        table.table.table-hover.table-striped
          thead
            tr
              th Report ID
              th Type
              th Args
              th Admin
              th Created

          tbody
            - for report in group.report_set.all
                tr
                  td
                    a(href='{% url "control:group_report" pk=report.pk format_type="html" %}')
                      h3 #{report.pk}

                  td
                    p {{report.get_report_type_display}}

                  td
                    small #{report.args}

                  td
                    a(href='{% url "admin:analysis_report_change" report.pk %}')
                      p Admin

                  td
                    p #{report.created|naturaltime}
