html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    link(rel="shortcut icon", href="/static/favicon.ico", type="image/x-icon")
    link(rel="icon", href="/static/favicon.ico", type="image/x-icon")
    link(rel="apple-touch-icon", href="/static/images/landing/mark2cure-flatbox-logo.jpg")

    meta(name="description", content="Mark2Cure – Scientific communication is broken")
    meta(name="keywords", content="mark2cure, the scripps research institute, max nanis, ben good, andrew su, biology")
    meta(name="author", content="Mark2Cure")
    meta(name="copyright", content="Mark2Cure")
    meta(name="application-name", content="Mark2Cure")
    meta(property="og:title", content="Mark2Cure")
    meta(property="og:type", content="article")
    meta(property="og:image", content="/static/images/landing/mark2cure-flatbox-logo.jpg")
    meta(property="og:url", content="http://mark2cure.org")
    meta(property="og:description", content="Scientific literature is growing at a rate of more than 2 new articles every single minute. It is impossible for scientists to consume and understand the rapidly expanding ocean of biomedical literature. You can help biomedical researchers find the information they need to discover cures faster.")
    meta(name="twitter:card", content="summary")
    meta(name="twitter:title", content="Mark2Cure")
    meta(name="twitter:description", content="Let's help scientists organize biomedical knowledge and uncover hidden links.")
    meta(name="twitter:image", content="/static/images/landing/mark2cure-flatbox-logo.jpg")

    title Mark2Cure
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    link(rel="stylesheet", href="#{STATIC_URL}css/style.css")

  body#landing-2
    include registration/login-modal
    include registration/subscribe-modal

    .case-study
      nav.navbar.navbar-default
        div.container
          div.navbar-header
            a.navbar-brand(href="/")
              img(src="#{STATIC_URL}images/landing/mark2cure-flatbox-logo-white.png", alt="Mark2Cure")

          div(id="navbar")
            ul.list-inline.nav.navbar-nav.pull-right
              li.active
                a(href="/about/") About
              li
                a(href="/faq/") FAQ
              li
                a(href="http://sulab.org/category/mark2cure/") Blog
              li
                a(href="/contact/") Contact
              li
                a(href='{% url "registration:login" %}') Login

              li.social.hidden-xs-down
                a(href="http://sulab.org/category/mark2cure/feed")
                  <i class="fa fa-rss-square"></i>
              li.social.hidden-xs-down
                a(href="https://www.facebook.com/pages/Mark2Cure/586806781439862")
                  <i class="fa fa-facebook-square"></i>
              li.social.hidden-xs-down
                a(href="https://twitter.com/Mark2Cure")
                  <i class="fa fa-twitter-square"></i>

      #bg-case-study
        .container
          .row
            .col-xs-12
              .cta.text-center
                h1 Bertrand  was the first case of <br class="hidden-xs-down"> NGLY1, but he is not alone.
                .row
                  .col-sm-8.col-sm-offset-2
                    p NGLY1 Researchers are racing to find clues in biomedical literature and need your help to uncover hidden links. If you can read, you can help.

                .row.push30
                  div(style="margin-top: 8px; margin-bottom: 8px;").col-xs-8.col-xs-offset-2.col-md-3.col-md-offset-1
                    a(href='https://www.ngly1.org/', target='_blank').btn.btn-block.btn-white.btn-outline About NGLY1

                  .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.col-md-4.col-md-offset-0
                    a(href='{% url "training:introduction" step_num=1 %}', style="font-size: 1.5em;").btn.btn-block.btn-white Get Started

                  div(style="margin-top: 8px; margin-bottom: 8px;").col-xs-8.col-xs-offset-2.col-md-3.col-md-offset-0
                    a(href="#learnMore").hidden-sm-down
                      button.btn.btn-block.btn-white.btn-outline
                        <i class="fa fa-play"></i> Watch Video
                    a(href="https://www.youtube.com/watch?v=uaD0-GTX0N8").hidden-md-up
                      button.btn.btn-block.btn-white.btn-outline
                        <i class="fa fa-play"></i> Watch Video


        .cta-bar
          .container-fluid.text-center.cta-bar
            .row
              .col-xs-12
                <p><a href="http://sulab.org/2015/09/please-help-now/">Over 300,000 annotations have been submitted so far, but we’re not done! Your help is still needed… <span>Learn More <j class="fa fa-chevron-right"></span></a></p>


      .clearfix

      .container-fluid.sci-comm-cs
        .row
          .col-xs-5
            img(src="#{STATIC_URL}images/landing/grey-book.jpg", alt="").aligncenter.img-responsive

          .col-xs-2
            img(src="#{STATIC_URL}images/landing/red-book.jpg", alt="").aligncenter.img-responsive

          .col-xs-5
            img(src="#{STATIC_URL}images/landing/grey-book.jpg", alt="").aligncenter.img-responsive

      .container
        .row
          .col-sm-12.text-center
            h2 Scientific <span class="font-red text-uppercase">communication</span> is broken.
            p.medium Scientific literature is growing at a rate of more than 2 new articles every single minute. It is impossible for scientists to consume and understand the rapidly expanding ocean of biomedical literature. You can help biomedical researchers find the information they need to discover cures faster.

      .container.push30
        .row
          .col-xs-12
            img(src="#{STATIC_URL}images/landing/words.jpg", alt="").aligncenter.img-responsive

      .container.push30
        .row
          .col-sm-12.text-center
            h2 <span class="font-red text-uppercase">you</span> can fix it and help find cures.
            p.medium The ability to read remains a uniquely human skill. Mark2Cure allows anyone that can read English, regardless of background, to help in the process of biomedical discovery. You can help them by identifying key pieces of information in scientific text to discover cures faster.


        .row.push50
          .col-md-3.col-md-offset-3
            img(src="#{STATIC_URL}images/landing/ngly1-child.png", alt="").aligncenter.img-responsive

          .col-md-3
            p It wasn't that long ago that all of our NGLY1 kids were undiagnosed and without hope. With your help and support, a diagnosis can be found much faster.</p> <p> <a href='http://ngly1.org' target='_blank' style="margin-top:35px;">Learn more at ngly1.org <i class="fa fa-chevron-right"></i></a>


      .container.push100
        .row
          .col-sm-12.text-center
            h2#learnMore Learn More
            .center-block.push50
              <iframe width="640" height="360" src="https://www.youtube.com/embed/uaD0-GTX0N8" frameborder="0" allowfullscreen></iframe>

        .row.push50
          .col-sm-12.text-center
            p.font-purple.medium If you can read you can help.
            a(href='{% url "training:introduction" step_num=1 %}').push15.btn.btn-large.btn-primary I want to help

      .container.push100
        <hr style="font-size:3px;">

    footer#landing-footer
      .container
        .row.text-center(style="padding-bottom:30px;")
          .col-sm-12
            #result
      .container

        .row.push100
          .col-sm-6
            p.small.text-muted &copy; 2015 Mark2Cure.org &bull; <a href="/tos">Terms of Service &bull; Privacy Policy</a>

          .col-sm-6
            div.small.text-muted.participate
              p.inline <span style="margin-bottom:5px;">Participate in the Community!</span></p> <p class=""><a href="https://www.facebook.com/pages/Mark2Cure/586806781439862"><i class="fa fa-facebook-square"></i></a> <a href="https://twitter.com/Mark2Cure"><i class="fa fa-twitter-square"></i></a>


    // Generic Requirements
    script(src="#{STATIC_URL}js/libs/jquery-1.11.2.min.js")

    // Bootstrap JS Requirements
    script(src="#{STATIC_URL}js/libs/bootstrap.min.js")

    // Marionette Requirements (YPet & Tree Applications)
    script(src="#{STATIC_URL}js/libs/underscore-min.js")
    script(src="#{STATIC_URL}js/libs/backbone.min.js")
    script(src='#{STATIC_URL}js/libs/backbone-relational.js')
    script(src='#{STATIC_URL}js/libs/backbone.radio.min.js')
    script(src='#{STATIC_URL}js/libs/backbone.marionette.min.js')

    // Other Various JS libs
    script(src='#{STATIC_URL}js/libs/underscore.string.min.js')
    script(src='#{STATIC_URL}js/libs/d3.v3.js')
    script(src='#{STATIC_URL}js/libs/md5.js')
    script(src='#{STATIC_URL}js/libs/moment.js')
    script(src='#{STATIC_URL}js/libs/selectize.js')
    script(src='#{STATIC_URL}js/libs/intro.min.js')
    script(src='#{STATIC_URL}js/libs/odometer.min.js')
    script(src='#{STATIC_URL}js/libs/modernizr.custom.js')
    // script(src='//cdn.ravenjs.com/1.1.18/backbone,jquery,native/raven.min.js')

    a#support-icon(data-toggle="modal", data-target="#support-modal")
      img(src='#{STATIC_URL}images/support-icon.png')

    #support-modal.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            <h2 class="modal-title">Contact Support</h2>
            <h4>Stuck? Have a look at the <a data-dismiss="modal" data-toggle="modal" data-target="#instructionsModal">HELP page</a> for the current task, or write us a message and we will get back to as soon as possible.</h4>
            <h5 class="text-center">Please include your email address so we can reply to your comment (or <a href="mailto:contact@mark2cure.org?Subject=Mark2Cure">email us directly</a>).</h5>

          .modal-body
            form(method="post", role='form', action="{% url 'common:support' %}").form-via-ajax
              - csrf_token
              - if request.user.is_authenticated
                input(type='hidden', name='user', value='{{user.pk}}')
              input(type='hidden', name='referral', value='{{request.path}}')
              .form-group
                label Message
                textarea(name='text').form-control
          .modal-footer
            button(type="button", data-dismiss="modal").btn.btn-default Cancel
            button(type="button").btn.btn-default.modal-form-submit Submit


    script.
      $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html,body').animate({
                scrollTop: target.offset().top
              }, 1000);
              return false;
            }
          }
        });
      });


    <script>Raven.config('http://2320ff9e35d04e7888cddfbaf516c6c4@sentry.sulab.org/4', {  whitelistUrls: [/mark2cure\.org/]}).install();var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-43341013-1']);_gaq.push(['_setDomainName', 'mark2cure.org']);_gaq.push(['_trackPageview']);(function() {  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();</script>

    #touch-modal.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            h2.modal-title On a touch screen?

          .modal-body
            p.lead
              | At the moment, Mark2Cure is best accessed with some sort of computer or laptop and not a mobile device.
            p.lead.text-center
              | Please use a computer or laptop (<strong>preferably with a mouse</strong>) when joining Mark2Cure.

          .modal-footer
            button(type="button", data-dismiss="modal").btn.btn-default
              | Okay

    script.
      if(Modernizr.touch) {
        $('#touch-modal').modal('show');
      }

