- load humanize

nav#header(role='navigation').navbar.navbar-default
  .row
    .col-xs-10.col-xs-offset-1.col-md-3.col-md-offset-0
      a(href='{% url "common:dashboard" %}')
        h1 Mark2Cure

    .col-xs-10.col-xs-offset-1.col-md-6.col-md-offset-0
      h2.text-center #{headerMessage}

    .col-xs-10.col-xs-offset-1.col-sm-6.col-sm-offset-3.col-md-3.col-md-offset-0
      #site-nav.collapse.navbar-toggleable-xs
        .row
          .col-xs-6.col-sm-7
            ul.list-unstyled.user-info
              li
                p {{user}}
              li
                p Score: <span id='score'>#{user.userprofile.rating_score|intcomma}</span>
              li
                p Level: #{user.userprofile.highest_level.name}

          .col-xs-6.col-sm-5
            ul.list-unstyled.site-links
              li
                a(href='{% url "talk:recent" %}')
                  p Talk Page
              li
                a(href='{% url "profile:public-profile" username=user.username %}')
                  p Profile
              li
                a(href='{% url "registration:logout" %}')
                  p Logout

  .row
    .col-xs-10.col-xs-offset-1
      button#expand-content(data-toggle='collapse', data-target='#site-nav').btn-block.navbar-toggler.hidden-sm-up
        h4 EXPAND

