extends base

- load widget_tweaks
- load humanize
- load group

block header
    - if user.is_authenticated
      include includes/header
    - else
      include includes/header-anon


block content
  .container
    .row
      .col-xs-6.col-xs-offset-3
        h1.text-center
          a(href='{% url "profile:public-profile" username=player.username %}') #{player.username}
      - if owner
        .col-xs-6.col-xs-offset-3
          p.text-center.text-muted
            a(href='{% url "profile:settings" %}') Settings


    .row
      .col-xs-8
        .row
          .col-xs-12
            .card
              .card-header
                | Motivation
              .card-block
                #{player.userprofile.motivation}

          .col-xs-12
            .card
              .card-header
                | Quote
              .card-block
                #{player.userprofile.quote}

          - if request.user|has_group:"Comment Moderators"
            .col-xs-12
              .card
                .card-header
                  h4 Quest Performance
                .card-block
                  ul(role="tablist").nav.nav-tabs
                      - for group in contributed_groups
                        - if forloop.counter0 == 0
                          li(role="presentation").active
                            a(href="#tab-{{group.stub}}", aria-controls="tab-{{group.stub}}", role="tab", data-toggle="tab")
                              | #{group.stub}

                        - else
                          li(role="presentation")
                            a(href="#tab-{{group.stub}}", aria-controls="tab-{{group.stub}}", role="tab", data-toggle="tab")
                              | #{group.stub}

                    div.tab-content
                      - for group in contributed_groups
                        - if forloop.counter0 == 0
                          div(role="tabpanel", id="tab-{{group.stub}}").tab-pane
                            #chart.text-center

                        - else
                          div(role="tabpanel", id="tab-{{group.stub}}").tab-pane.active
                            #chart.text-center

      .col-xs-4
        .card
          .card-header
            | Statistics

          .card-block
            ol.list-unstyled
              li
                p Joined: #{player.date_joined|naturaltime}
              li
                p Last Seen: #{player.userprofile.last_seen|naturaltime}
              li
                p Total Quests: #{player.userprofile.quests_count|intcomma}
              li
                p Total Annotations: #{player.userprofile.annotations_count|intcomma}

              - if request.user|has_group:"Comment Moderators"
                li
                  p Performance: {% widthratio player.userprofile.current_avg_f 1 100 %}%
              li
                p Score: #{player.userprofile.rating_score|intcomma}
              li
                p Level: #{player.userprofile.highest_level.name}
              - if player.userprofile.team
                li
                  p Team:
                    a(href='{% url "team:home" teamname=player.userprofile.team.name %}')
                      |  #{player.userprofile.team.name}


block post-footer
    script.
        $('.nav-tabs a').click(function (e) {
          e.preventDefault();
          $(this).tab('show');
        });


    - for group in contributed_groups
        script.
            drawUserFScoreLine("#tab-{{group.stub}} #chart", "{{group.pk}}");

